<h2>{{chat.name}}</h2>
<div data-ng-if="!chat.isLoaded">Loading...</div>
<ul data-ng-if="chat.isLoaded">
	<li data-ng-repeat="message in chat.messages">
		<button type="button" data-ng-if="currentUser.isSignedIn" data-ng-click="chat.messages.$remove(message)">&minus;</button>
		{{message.content}}
	</li>
	<li data-ng-if="currentUser.isSignedIn">
		<button type="button" data-ng-click="chat.messages.$add(chat.newmessage)">&plus;</button>
		<input data-ng-model="chat.newmessage.content" />
	</li>
</ul>
